<img src="Logo.png" width="100" align="left"/> 

# <center> Unit 3 Project </center>
#  <center> Fourth section : Conclusion </center>


In this notebook you will be comparing the results of the two methods we used on the created testset. That is said: you will compare the results to the clustering with the results of the classification on the same test test and provide insights and explanation about the observed behaviour.

For this final task you will need to : 
1. Load the testset data that you created all along this project 
2. For each cluster provide percentages about each actual/ predicted class contained with this cluster. Eg : cluster NÂ°2 : is made of ( 50% class 2 and 50% class 3 ) from actual labels and ( 40 % predicted class 2 and 40% predicted class 3 + 20% predicted class 1) 
The above is just an example and is far away from the actual situation.

3. Explain the behaviour and provide isights about it

## 1.  Load the data:

In [1]:
import pandas as pd

In [2]:
# To-Do : load the test summary data 
df=pd.read_csv('test_summary.csv')

In [3]:
df.head()

,ID,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT,cluster,Category,Predicted_class
0,1,32,0,38.5,52.5,7.7,22.1,7.5,6.93,3.23,106.0,12.1,69.0,3,0,0
1,2,32,0,38.5,70.3,18.0,24.7,3.9,11.17,4.80,74.0,15.6,76.5,3,0,0
2,3,32,0,46.9,74.7,36.2,52.6,6.1,8.84,5.20,86.0,33.2,79.3,3,0,0
3,4,32,0,43.2,52.0,30.6,22.6,18.9,7.33,4.74,80.0,33.8,75.7,3,0,0
4,5,32,0,39.2,74.1,32.6,24.8,9.6,9.15,4.32,76.0,29.9,68.7,3,0,0

## 2. Analysis:

In [4]:
# To-Do create a summary about each cluster : 
# percentages of each target (actual Category) within each cluster 
# + Percentages of each predicted class within the cluster 
# results should be something like : 
# For clusterk : {'true_class0_percetage': 0.0,
#                 'true_class1_percetage': 0.0,
#                  'true_class2_percetage': 0.0,
#                   'true_class3_percetage': 0.0,
#                   'true_class4_percetage': 0.0,
#                   'predicted_class0_percetage': 0.0,
#                   'predicted_class1_percetage': 0.0,
#                   'predicted_class2_percetage': 0.0,
#                   'predicted_class3_percetage': 0.0,
#                    'predicted_class4_percetage': 0.0}

In [5]:
df1=df.drop(['ID',"Age","Sex","ALB","ALP","ALT","AST","BIL","CHE","CHOL","CREA","GGT","PROT"], axis=1)
df1.shape

(615, 3)

In [26]:
grouped_df=df1.groupby(['cluster','Category']).size().reset_index(name='count')
grouped_df2=df1.groupby(['cluster','Predicted_class']).size().reset_index(name='count')
print(grouped_df)
print(grouped_df2)
df2=df1.groupby(['Category']).size()
df3=df1.groupby(['Predicted_class']).size()
print(df2)
print(df3)
def percentage_calculate(cls):
    for i in grouped_df.groupby(['cluster']).get_group(cls).index:
        for j in range (0,5): 
            if(grouped_df.groupby(['cluster']).get_group(cls)["Category"][i]==j):
                print("true_class",j,"_percentage:",(grouped_df.groupby(['cluster']).get_group(cls)["count"][i]*100)/df2[j],"% ,")
    
    for i in grouped_df2.groupby(['cluster']).get_group(cls).index:
        for j in range (0,5):
            if(grouped_df2.groupby(['cluster']).get_group(cls)["Predicted_class"][i]==j):
                print("predicted_class",j,"_percentage:",(grouped_df2.groupby(['cluster']).get_group(cls)["count"][i]*100)/df3[j],"% ,")

    cluster  Category  count
0         0         3      3
1         1         0      2
2         1         1      4
3         1         2      9
4         1         3     19
5         1         4      2
6         2         1      2
7         2         3      4
8         2         4      2
9         3         0    490
10        3         1     15
11        3         2      8
12        3         3      3
13        3         4      1
14        4         0     41
15        4         1      3
16        4         2      4
17        4         3      1
18        4         4      2
    cluster  Predicted_class  count
0         0                0      2
1         0                3      1
2         1                0      4
3         1                1      4
4         1                2     10
5         1                3     17
6         1                4      1
7         2                1      1
8         2                3      5
9         2                4      2
10        3                0    494
11        3                1     12
12        3                2      8
13        3                3      3
14        4                0     42
15        4                1      2
16        4                2      5
17        4                3      1
18        4                4      1
Category
0    533
1     24
2     21
3     30
4      7
dtype: int64
Predicted_class
0    542
1     19
2     23
3     27
4      4
dtype: int64

In [27]:
print("For cluster",0,": {")
percentage_calculate(0)
print("}")
print()

print("For cluster",1,": {")
percentage_calculate(1)
print("}")
print()     


print("For cluster",2,": {")
percentage_calculate(2)  
print("}")
print()          


print("For cluster",3,": {")
percentage_calculate(3)
print("}")
print()

print("For cluster",4,": {")
percentage_calculate(4)
print("}")
print()

For cluster 0 : {
true_class 3 _percentage: 10.0 % ,
predicted_class 0 _percentage: 0.36900369003690037 % ,
predicted_class 3 _percentage: 3.7037037037037037 % ,
}

For cluster 1 : {
true_class 0 _percentage: 0.37523452157598497 % ,
true_class 1 _percentage: 16.666666666666668 % ,
true_class 2 _percentage: 42.857142857142854 % ,
true_class 3 _percentage: 63.333333333333336 % ,
true_class 4 _percentage: 28.571428571428573 % ,
predicted_class 0 _percentage: 0.7380073800738007 % ,
predicted_class 1 _percentage: 21.05263157894737 % ,
predicted_class 2 _percentage: 43.47826086956522 % ,
predicted_class 3 _percentage: 62.96296296296296 % ,
predicted_class 4 _percentage: 25.0 % ,
}

For cluster 2 : {
true_class 1 _percentage: 8.333333333333334 % ,
true_class 3 _percentage: 13.333333333333334 % ,
true_class 4 _percentage: 28.571428571428573 % ,
predicted_class 1 _percentage: 5.2631578947368425 % ,
predicted_class 3 _percentage: 18.51851851851852 % ,
predicted_class 4 _percentage: 50.0 % ,
}

For cluster 3 : {
true_class 0 _percentage: 91.93245778611632 % ,
true_class 1 _percentage: 62.5 % ,
true_class 2 _percentage: 38.095238095238095 % ,
true_class 3 _percentage: 10.0 % ,
true_class 4 _percentage: 14.285714285714286 % ,
predicted_class 0 _percentage: 91.14391143911439 % ,
predicted_class 1 _percentage: 63.1578947368421 % ,
predicted_class 2 _percentage: 34.78260869565217 % ,
predicted_class 3 _percentage: 11.11111111111111 % ,
}

For cluster 4 : {
true_class 0 _percentage: 7.6923076923076925 % ,
true_class 1 _percentage: 12.5 % ,
true_class 2 _percentage: 19.047619047619047 % ,
true_class 3 _percentage: 3.3333333333333335 % ,
true_class 4 _percentage: 28.571428571428573 % ,
predicted_class 0 _percentage: 7.749077490774908 % ,
predicted_class 1 _percentage: 10.526315789473685 % ,
predicted_class 2 _percentage: 21.73913043478261 % ,
predicted_class 3 _percentage: 3.7037037037037037 % ,
predicted_class 4 _percentage: 25.0 % ,
}

## 3. Explanations and isights :

#### in this section you should display analysis about each cluster and comment those one by one
>>we can clearly see that the clusters don't contain the same percentages of the predicted and true classes like the cluster 2 but there are some clusters where the percentages are close to each other for example cluster 3,4 and 1.
we can also observe that there are clusters that don't have same predicted and true classes , for example cluster 0 have predicted class 0 but doesn't have true class 0 , same with cluster 3 which has true_class 4 but doesn't have predicted class 4.

## 4. Conclusion:

Explain your findings and provide reasons for the behaviour.

>>I think this is due to the mislabled points that we had after the classification , and as a result we've got a smaller accuracy!
after applying the RandomForestClassifier , we've got 11 mislabled points ,and an accuracy of 91% , the model was accepted but it's not correct 100% , so there will be more misclassified points when loading more data  
to sum up , this problem is caused by classification accuracy.